## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [ ]:
import pandas as pd
import numpy as np
df_mat = pd.DataFrame(np.random.randint(24, size=(100,1)), columns=["quantidade_acertos"]) #cria um df de números
#aleatórios com 100 linhas e 1 coluna, com o nome "quantidade_acertos"
df_pt = pd.DataFrame(np.random.randint(18, size=(100,1)), columns=["quantidade_acertos"])
df_geogra = pd.DataFrame(np.random.randint(8, size=(100,1)), columns=["quantidade_acertos"])
df_ing = pd.DataFrame(np.random.randint(8, size=(100,1)), columns=["quantidade_acertos"])
df_hist = pd.DataFrame(np.random.randint(8, size=(100,1)), columns=["quantidade_acertos"])
df_fisc = pd.DataFrame(np.random.randint(12, size=(100,1)), columns=["quantidade_acertos"])
df_quim = pd.DataFrame(np.random.randint(12, size=(100,1)), columns=["quantidade_acertos"])

In [ ]:
#não é a tarefa.
dfAcertos = pd.DataFrame(columns=[["Matemática", "Portugues", "Geografia", "Inglês", "História", "Física", "Química"]])
lista_mat = df_mat.values.tolist()
map(lambda valor: valor.int(), lista_mat)

dfAcertos["Matemática"] = lista_mat

lista_pt = df_pt.values.tolist()
dfAcertos["Portugues"] = lista_pt
lista_geo = df_geogra.values.tolist()
dfAcertos["Geografia"] = lista_geo

lista_ing = df_ing.values.tolist()
dfAcertos["Inglês"] = lista_ing

lista_hist = df_hist.values.tolist()
dfAcertos["História"] = lista_hist

lista_fisc = df_fisc.values.tolist()
dfAcertos["Física"] = lista_fisc

lista_quim = df_quim.values.tolist()
dfAcertos["Química"] = lista_quim

#Como mudar do tipo object para o float?
dfAcertos["Matemática"] = dfAcertos["Matemática"].apply(lambda valor: valor.replace("[", ""))
dfAcertos.head()

  Matemática Portugues Geografia Inglês História Física Química
0       [18]      [11]       [5]    [5]      [5]    [7]     [9]
1       [14]       [9]       [7]    [2]      [1]    [7]     [0]
2       [22]       [8]       [2]    [3]      [3]   [10]     [9]
3       [22]       [4]       [4]    [1]      [1]    [3]     [4]
4       [15]       [5]       [5]    [4]      [4]    [3]    [11]

[[18], [14], [22], [22], [15], [10], [21], [15], [7], [3], [7], [3], [23], [2], [2], [17], [18], [18], [20], [4], [17], [9], [21], [20], [5], [0], [4], [8], [11], [13], [1], [16], [13], [12], [8], [14], [21], [14], [23], [10], [15], [16], [3], [0], [7], [16], [2], [19], [14], [14], [23], [21], [13], [22], [13], [23], [1], [12], [13], [23], [18], [6], [2], [14], [22], [13], [10], [14], [12], [17], [5], [2], [18], [14], [22], [4], [9], [6], [16], [6], [21], [11], [16], [12], [19], [3], [9], [2], [8], [12], [17], [14], [3], [14], [21], [1], [14], [7], [7], [16]]

In [ ]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [ ]:
# 1) Seu código aqui

pc_mat = df_mat / 24
pc_por = df_por / 18
pc_geo = df_geo /  8
pc_ing = df_ing /  8
pc_his = df_his /  8
pc_fis = df_fis /  8
pc_qui = df_qui /  8

In [ ]:

#total de acertos de cada aluno

total_acertos = pd.DataFrame(df_mat + df_geo + df_por + df_ing + df_his + df_fis + df_qui)
total_acertos.rename(columns = {'Qt_acertos':'quantidade_acertos'}, inplace=True)
display (total_acertos)

    quantidade_acertos
0                   35
1                   48
2                   50
3                   32
4                   30
..                 ...
95                  34
96                  27
97                  40
98                  40
99                  42

[100 rows x 1 columns]

In [ ]:
#percentual geral de cada aluno

percentual_geral_aluno = (total_acertos/90)*100
display(percentual_geral_aluno)

    quantidade_acertos
0            38.888889
1            53.333333
2            55.555556
3            35.555556
4            33.333333
..                 ...
95           37.777778
96           30.000000
97           44.444444
98           44.444444
99           46.666667

[100 rows x 1 columns]

In [ ]:
#quantos alunos tiveram a nota maior que 45
percentual_geral_aluno['segunda_fase'] = percentual_geral_aluno['quantidade_acertos']>45.0
display(percentual_geral_aluno.head(5))
percentual_geral_aluno['segunda_fase'].value_counts()

   quantidade_acertos  segunda_fase
0           38.888889         False
1           53.333333          True
2           55.555556          True
3           35.555556         False
4           33.333333         False

False    53
True     47
Name: segunda_fase, dtype: int64

<h1> Parte já feita pela EBAC

In [ ]:
# 2) Seu código aqui
total = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
total

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [ ]:
# 3) Seu código aqui
total/90

    Qt_acertos
0     0.388889
1     0.533333
2     0.555556
3     0.355556
4     0.333333
..         ...
95    0.377778
96    0.300000
97    0.444444
98    0.444444
99    0.466667

[100 rows x 1 columns]

In [ ]:
# 4) Seu código aqui
total_gt_45 = total[total['Qt_acertos'] > 45]
total_gt_45.count()

Qt_acertos    31
dtype: int64

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [ ]:
#quem zera matemática, física ou química está desqualificado
df_qualificacao=pd.DataFrame()
df_qualificacao.rename(columns=["mat", "fis", "quim"], inplace=True)
#teria uma maneira de fazer isso de forma mais rápida?
df_qualificacao["mat"] = df_mat
df_qualificacao["fis"] = df_fis
df_qualificacao["qui"] = df_quim
df_qualificacao["his"] = df_his
df_qualificacao["geo"] = df_geo
df_qualificados = (df_qualificacao["mat"]!=0) & (df_qualificacao["fis"]!=0) & (df_qualificacao["qui"]!=0 )
df_qualificacao["qualificados"] = df_qualificados


#criar um df com os alunos aprovados para a segunda fase
alunos_aprovados = df_qualificacao["qualificados"].loc[df_qualificacao["qualificados"] == True]
alunos_aprovados= pd.DataFrame(alunos_aprovados)
display(alunos_aprovados)

#quantos são os alunos
alunos_aprovados.sum()

#criar um novo dataFrame com os alunos que passaram para a segunda fase, tirando aqueles que na coluna "qualificados" tem um False
aprovados_segunda_fase = df_qualificacao.loc[df_qualificacao["qualificados"]==True]
display(aprovados_segunda_fase)

In [ ]:
#qual a média deles de hist e o geo
mediaHisGeo = (aprovados_segunda_fase["his"]+aprovados_segunda_fase["geo"])/2
aprovados_segunda_fase["media_his_geo"] = mediaHisGeo
aprovados_segunda_fase

<ipython-input-166-74b9c62a6618>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aprovados_segunda_fase["media_his_geo"] = mediaHisGeo

    mat  fis  qui  his  geo  qualificados  media_his_geo
0     6    8    9    1    7          True            4.0
1    19   11   10    0    0          True            0.0
2    14    4    1    7    0          True            3.5
4     7    9    6    0    2          True            1.0
5    20    9    8    2    5          True            3.5
..  ...  ...  ...  ...  ...           ...            ...
92   14    8    8    1    1          True            1.0
93   12    6    9    6    5          True            5.5
95    6    9    3    4    7          True            5.5
96    8    4    5    1    4          True            2.5
99   11    7    9    6    0          True            3.0

[78 rows x 7 columns]

<h1>Gabarito

In [ ]:
# seu código aqui
df_eliminados = total[(df_mat['Qt_acertos'] == 0) |
                      (df_fis['Qt_acertos'] == 0) |
                      (df_qui['Qt_acertos'] == 0)]

df_eliminados

    Qt_acertos
3           32
6           29
10          31
12          42
14          31
20          53
25          27
26          40
27          50
33          39
35          48
49          19
56          39
65          24
66          31
72          50
73          37
74          39
84          26
89          63
92          40
94          25
98          40

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [ ]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00001-652192a8-b947-4281-97f5-2bef7d37796e.c000.csv'

In [ ]:
df = pd.read_csv(arquivo, sep=';', encoding='utf8')

<ipython-input-15-54a4eacbf71e>:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(arquivo, sep=';', encoding='utf8')

In [ ]:
df.head()

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,1d47e6c1-854d-4f80-8187-679e0cfc2152-i0b0,038b56ecedcc0b556f71a46cf71521e814428d5a41d087...,27.0,1995-08-13,F,4.0,AMARELA,120050,10,SENA MADUREIRA,...,2.0,Faixa Etária,202001,PFIZER,28290,2022-09-08,Reforço,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
1,06d422aa-7cff-47dd-9c2f-9f349348f725-i0b0,8f96f9c3e9394d5db85bc786c06c6768b259cfbc9a64a9...,13.0,2008-02-11,F,4.0,AMARELA,120010,10,BRASILEIA,...,114.0,Outros,FA9096,PFIZER,Organization/00394544000851,2021-08-09,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
2,11d90dc1-ec20-4eeb-82c2-66936ab36e88-i0b0,41ca0b0dd41828a9b146a509bc9be48c8e60624274ff7e...,79.0,1942-10-02,F,3.0,PARDA,120040,10,RIO BRANCO,...,2.0,Faixa Etária,FH4750,PFIZER,Organization/28290,2021-11-29,Reforço,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
3,076f2dd4-551c-4875-9fda-e4436db43b05-i0b0,0fe74265d9ad1d9d6a1c2b746c1b90e2c4437ef7c2bd1d...,41.0,1980-08-11,F,1.0,BRANCA,120020,10,CRUZEIRO DO SUL,...,2.0,Faixa Etária,FD7210,PFIZER,Organization/00394544000851,2021-08-25,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
4,8b2ec61a-7e00-4e86-858f-6f12207517bb-i0b0,3098cd5335f5e9efe5078a39be3339f056ee0d6b67c125...,9.0,2012-12-06,M,3.0,PARDA,120040,10,RIO BRANCO,...,NaN,NaN,FN5988,PFIZER - PEDI?TRICA,28290,2022-04-06,1ª Dose,99,COVID-19 PEDIÁTRICA - PFIZER COMIRNATY,Novo PNI

In [ ]:
#quantas vacinas estão registradas nessa base
df['vacina_fabricante_nome'].unique()

array(['PFIZER', 'PFIZER - PEDI?TRICA', 'ASTRAZENECA/FIOCRUZ',
       'SINOVAC/BUTANTAN', 'JANSSEN', 'Pendente Identificação',
       'PFIZER - PEDIÁTRICA', 'Pendente Identifica??o', 'ASTRAZENECA',
       'SINOVAC', 'PFIZER - PEDIÁTRICA MENOR DE 5 ANOS',
       'PFIZER MANUFACTURING BELGIUM NV - BELGICA'], dtype=object)

In [ ]:
#quantos pacientes foram vacinados?
df.columns
df['paciente_id'].nunique()

294762

In [ ]:
#quantos pacientes tomaram apenas a primeira dose?

primeira_dose = df['vacina_descricao_dose'].unique()[1]
print(primeira_dose)
df['paciente_id'].loc[df['vacina_descricao_dose'] == primeira_dose].nunique()

1ª Dose

140062

In [ ]:
#quantos pacientes com menos de 18 anos foram vacinados?
df['paciente_idade'].loc[df['paciente_idade']<18].nunique()

18

In [ ]:
df.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

Sobre a questão 5:
Como é uma base da dados com dados do Acre todos os estabalecimentos também são do Acre. Logo todos os estabelecimentos aplicaram a vacina no acre.

In [ ]:
#quantos estabelecimentos aplicaram vacina no Acre?
df.columns
df['estabelecimento_municipio_nome'].nunique()

22

In [ ]:
#quantas linhas de 'estabelecimento_municipio_nome' tem um Nan como valor?
shape_antigo = df.shape
shape_novo = df.dropna(inplace=True)
print(shape_antigo, shape_novo)

(297283, 32) None

<h1> Parte respondida pela EBAC

In [ ]:
# 1) Sua solução aqui
df = pd.read_csv(arquivo, sep=';')

In [ ]:
df.head()

,document_id,paciente_id,paciente_idade,paciente_datanascimento,paciente_enumsexobiologico,paciente_racacor_codigo,paciente_racacor_valor,paciente_endereco_coibgemunicipio,paciente_endereco_copais,paciente_endereco_nmmunicipio,...,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataaplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem,data_importacao_rnds,id_sistema_origem
0,b19cd280-474c-4c22-a35d-8c06bc04a4e0-i0b0,2e091c9a37d3f50d1d705fc80c6448c6fc69b44da9e936...,69,1951-12-28,F,3,PARDA,120050.0,10.0,SENA MADUREIRA,...,210052A,FUNDACAO BUTANTAN,Organization/61189445000156,2021-03-23,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-03-25T03:27:19.000Z,NaN
1,d7e13d32-32fb-4e9a-a559-b0bdd7929d2b-i0b0,dd179041b80ce919ceffa504ad2eae6f9ac3d6bbdfd531...,63,1957-06-09,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,210110,FUNDACAO BUTANTAN,Organization/61189445000156,2021-04-28,2ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-05-02T15:41:55.000Z,NaN
2,af279a98-ba1f-47ea-8214-314a98040b0d-i0b0,6734b26bccf826130ebffa66575977bbe71477b12bcf42...,69,1951-08-14,M,4,AMARELA,120020.0,10.0,CRUZEIRO DO SUL,...,210135,FUNDACAO BUTANTAN,Organization/61189445000156,2021-04-16,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-04-16T15:54:39.000Z,NaN
3,22f523ac-3eb6-45b2-9f6e-4e9906f09b5a-i0b0,54dfc421baa6a03e54c8a57f08c50b0281d40659849fbc...,19,2001-04-28,M,5,INDIGENA,120033.0,10.0,MANCIO LIMA,...,202010028,FUNDACAO BUTANTAN,Organization/61189445000156,2021-03-02,2ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-03-22T20:21:06.000Z,NaN
4,000e911b-e3a4-4114-a735-d1f2e6e3797f-i0b0,c59571e19f368d4b0cf08cd3bcabb32e5cd8baad5340f6...,65,1955-11-21,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,212VCD001ZVB,FUNDACAO OSWALDO CRUZ,Organization/33781055000135,2021-03-29,1ª Dose,85,Vacina Covid-19 - Covishield,Novo PNI,2021-04-03T19:44:28.000Z,NaN

In [ ]:
df.shape[0]

174191

In [ ]:
# 2)
df['paciente_id'].nunique()

125009

In [ ]:
# 3)
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df['paciente_id'].loc[df['vacina_descricao_dose'] == primeira_dose].nunique()

124185

In [ ]:
# 3) solução alternativa
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df_primeira_dose = df[df['vacina_descricao_dose'] == primeira_dose]
df_primeira_dose['paciente_id'].nunique()

124185

In [ ]:
# 4)
df_menor = df[df["paciente_idade"]<18]
df_menor['paciente_id'].nunique()

49

In [ ]:
# 5)
df['estabelecimento_razaosocial'].nunique()

42

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [ ]:
df_menores18 = df[df['paciente_idade']<18].copy()

In [ ]:
lista_colunas = df_menores18.columns

21

In [ ]:
df_menores18['vacina_categoria_nome'].nunique()

In [ ]:
#a partir da lista de colunas, escolha somente aquelas
#que são referentes ao estabelecimento, faça uma lista com esses valores.

lista_variaveis = ['estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']
df_menor_lista = df_menores18.loc[:,lista_variaveis]

df_menor_lista = df_menor_lista.drop_duplicates()

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,1d47e6c1-854d-4f80-8187-679e0cfc2152-i0b0,038b56ecedcc0b556f71a46cf71521e814428d5a41d087...,27.0,1995-08-13,F,4.0,AMARELA,120050,10,SENA MADUREIRA,...,2.0,Faixa Etária,202001,PFIZER,28290,2022-09-08,Reforço,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
2,11d90dc1-ec20-4eeb-82c2-66936ab36e88-i0b0,41ca0b0dd41828a9b146a509bc9be48c8e60624274ff7e...,79.0,1942-10-02,F,3.0,PARDA,120040,10,RIO BRANCO,...,2.0,Faixa Etária,FH4750,PFIZER,Organization/28290,2021-11-29,Reforço,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
3,076f2dd4-551c-4875-9fda-e4436db43b05-i0b0,0fe74265d9ad1d9d6a1c2b746c1b90e2c4437ef7c2bd1d...,41.0,1980-08-11,F,1.0,BRANCA,120020,10,CRUZEIRO DO SUL,...,2.0,Faixa Etária,FD7210,PFIZER,Organization/00394544000851,2021-08-25,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
5,07b79042-1a19-4160-898c-912098275c95-i0b0,88f6a2dded3773389ee9de5d18a84113a50998de87c1c8...,46.0,1974-11-19,M,3.0,PARDA,120038,10,PLACIDO DE CASTRO,...,2.0,Faixa Etária,216VCD213W,ASTRAZENECA/FIOCRUZ,Organization/33781055000135,2021-08-17,2ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
6,3cc872b8-9514-4ff4-8fee-1fd154e390f7-i0b0,d25d60f711099ad5283ed5280c6811d81d30e0b13169f0...,37.0,1984-06-10,F,4.0,AMARELA,120050,10,SENA MADUREIRA,...,2.0,Faixa Etária,FD7207,PFIZER,Organization/00394544000851,2021-08-23,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI

<h1> Parte responida pela EBAC

In [ ]:
# 1)
df_menor = df[df["paciente_idade"]<18].copy()

In [ ]:
# 2)
df_menor.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_datanascimento', 'paciente_enumsexobiologico',
       'paciente_racacor_codigo', 'paciente_racacor_valor',
       'paciente_endereco_coibgemunicipio', 'paciente_endereco_copais',
       'paciente_endereco_nmmunicipio', 'paciente_endereco_nmpais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumnacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoatendimento_codigo',
       'vacina_grupoatendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataaplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem', 'data_importacao_rnds', 'id_sistema_origem'],
      dtype='object')

In [ ]:
# 3)
df_menor['vacina_categoria_nome'].value_counts()

Povos Indígenas                     33
Povos e Comunidades Tradicionais     9
Trabalhadores de Saúde               9
Comorbidades                         2
Faixa Etária                         1
Name: vacina_categoria_nome, dtype: int64

In [ ]:
# 4)
lista_variaveis = ['estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']
df_menor_lista = df_menor.loc[:,lista_variaveis]

In [ ]:
# 5)
df_menor_lista = df_menor_lista.drop_duplicates()
df_menor_lista.shape